<a href="https://colab.research.google.com/github/asegura4488/CienciaDatos/blob/main/Semana3/Sesion5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
from google.colab import files
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
os.chdir('/content/drive/MyDrive/ColabNotebooks/Cursos/CursoCienciaDatos/Semana3')
!ls

Datos  Sesion5.ipynb

1. "age" (Edad) numérica
2. "job" (Trabajo) categórica
3. "marital" (Estado civil) categórica
4. "education" (Nivel educativo) categórica
5. "default" (Si dejo de pagar) categórico
6. "balance" (saldo promedio) numérico
7. "housing" (Credito hipotecario) categórico
8. "loan" (Creditos de consumo) categórico
9. "contact" (Medio de contacto) categórico
10. "day" (último día en que fue contactado) numérica
11. "month" (último més en que fue contactado) categórica
12. "duration" (Duración de última llamada en segundos) numérica
13. "campaign" (Numero total de veces en ser contactado) numérica
14. "pdays" (Número de dias después de haber sido contactado) numérica
15. "previous" (Número de veces de ser conctactado antes de la presente campaña) numérica
16. "poutcome" (Resultado de la campaña anterior) categórica
17. "y" (El cliente suscribió el deposito) categórica

In [9]:
data = pd.read_csv("Datos/Banco.csv")
data.head(20)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143.0,yes,no,unknown,5,may,261.0,1,-1.0,0,unknown,no
1,44,technician,single,secondary,no,29.0,yes,no,unknown,5,may,151.0,1,-1.0,0,unknown,no
2,33,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5,may,76.0,1,-1.0,0,unknown,no
3,47,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5,may,92.0,1,-1.0,0,unknown,no
4,33,unknown,single,unknown,no,1.0,no,no,unknown,5,may,198.0,1,-1.0,0,unknown,no
5,35,management,married,tertiary,no,231.0,yes,no,unknown,5,may,139.0,1,-1.0,0,unknown,no
6,28,Management,single,tertiary,no,447.0,yes,yes,unknown,5,may,217.0,1,-1.0,0,unknown,no
7,42,entrepreneur,div.,tertiary,yes,2.0,yes,no,unknown,5,may,380.0,1,-1.0,0,unknown,no
8,58,retired,married,primary,no,121.0,yes,no,unknown,5,may,50.0,1,-1.0,0,unknown,no
9,43,technician,single,secondary,no,593.0,yes,No,unknown,5,may,55.0,1,-1.0,0,unknown,no
10,41,admin.,div.,secondary,no,270.0,yes,no,unknown,5,may,222.0,1,-1.0,0,unknown,no
11,29,admin.,single,secondary,no,390.0,yes,no,unknown,5,may,137.0,1,-1.0,0,UNK,no
12,53,technician,married,secondary,no,6.0,yes,no,unknown,5,may,-517.0,1,-1.0,0,unknown,no
13,58,technician,married,unknown,no,71.0,yes,no,unknown,5,may,71.0,1,-1.0,0,unknown,no
14,57,services,married,secondary,no,162.0,yes,No,unknown,5,may,174.0,1,-1.0,0,unknown,no
15,51,retired,married,primary,no,229.0,yes,no,unknown,5,may,353.0,1,-1.0,0,unknown,no
16,45,admin.,single,unknown,no,13.0,yes,no,unknown,5,may,98.0,1,-1.0,0,unknown,no
17,57,blue-collar,married,primary,no,52.0,yes,no,unknown,5,may,38.0,1,-1.0,0,unknown,no
18,60,retired,married,primary,no,60.0,yes,no,unknown,5,may,219.0,1,-1.0,0,unknown,no
19,33,services,married,secondary,no,0.0,yes,no,unknown,5,may,54.0,1,-1.0,0,unknown,no

In [10]:
data.shape

(45215, 17)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45215 entries, 0 to 45214
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45215 non-null  int64
 1   job        45213 non-null  object
 2   marital    45214 non-null  object
 3   education  45214 non-null  object
 4   default    45215 non-null  object
 5   balance    45213 non-null  float64
 6   housing    45215 non-null  object
 7   loan       45215 non-null  object
 8   contact    45215 non-null  object
 9   day        45215 non-null  int64
 10  month      45215 non-null  object
 11  duration   45214 non-null  float64
 12  campaign   45215 non-null  int64
 13  pdays      45214 non-null  float64
 14  previous   45215 non-null  int64
 15  poutcome   45215 non-null  object
 16  y          45215 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 5.9+ MB

In [ ]:
# que hacemos con los valores no asignados